[user]
	name = Chris Heninger
	email = chris@igravitystudios.com
[push]
	default = current
[pull]
	rebase = true
[core]
	excludesfile = /Users/ch/.gitignore_global
[alias]
	fml = push --force-with-lease